.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:  rgba(208, 180, 198, 0.5);
}

.moviecard {
  display: flex;
  flex-direction: row;
  width: 40%;;
  margin-top: 2em;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 70px;
}

.poster {
  height: 250px;
  margin-right: 20px;

}

.info-card {
  align-self: center;
  justify-self: center;
}

.plot {
  margin-right: 30px;
}
/* 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
